@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@400;500&display=swap');

.home{
    
    background-color: #FFFFFF;
    position: relative;
    margin-top: 90px;
}
.card-container{
    margin-left: 200px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
}