.menu{
    background-color: #f7f7f7;
    
}
.navbar-nav a{
 
    font-size: 24px;
    color: #FE724C;
    margin: 5px 10px;
    transition: all;
}
.navbar-nav a:hover{
 color: #e49474;
 
}
@media screen and (min-width: 768px) {
    .navbar-nav a:hover::after{
        content: "";
        position: fixed;
        display: block;
        width: 65px;
        height: 2px;
        
        background-color: #f37e7e;
    }
}

@media screen and (min-width: 480px) and (max-width: 760px) {
    .navbar-nav a:hover::after{
        content: "";
        position: fixed;
        left:220px;
        display: block;
        text-align: center;
        width: 65px;
        height: 2px;
        
        background-color: #f37e7e;
    }
}


.img-logo{
    width: 100px;
    height: 30px;
}